<div class="panel panel-default">
  <div class="panel-heading">
    <a>メッセージ一覧</a>
  </div>
    
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <a >メッセージ入力</a>
    </div>
    <%= form_for(Message.new) do |f| %>
    <div class="panel-body">
      <a > 名前:</a>
      <%= f.text_field :name %>
    </div>
    <div class="panel-body">
      <a > 内容:</a>
      <%= f.text_area :body, :size => "30x4" %>
    </div>
    <div class="panel-body" >
          <%= f.submit class: "btn btn-sm btn-primary" %>
          
          
    </div>
      <br>
    <% end %>
        
</div>
